.goods {
  margin-top: 80px;

  &__title {
    font-weight: 700;
    font-size: 1.5em;
  }

  &__cards {
    position: relative;
    margin-top: 38px;

    &::after {
      content: '';
      position: absolute;
      top: -75px;
      right: 0;
      width: 189px;
      height: 61px;
      background: url('../img/car.svg') center/contain no-repeat;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: #ffffff;
  padding: 2% 3%;

  &__img {
    max-width: 125px;
    max-height: 166px;
    margin: 0 auto;
  }

  &__text {
    font-size: 0.875em;
    line-height: 20px;
    text-align: center;
    color: #333333;
  }

  &__price {
    font-weight: 500;
    font-size: 1.313em;
    text-align: center;
    letter-spacing: 0.05em;
  }

  &__button {
    @include small_button;
    background-color: $green;
    border: none;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
}

@media (max-width: 900px) {
  .goods {
    margin-top: 35px;

    &__cards {
      margin-top: 20px;
    }
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .goods {
    margin-top: 35px;

    &__cards {
      margin-top: 20px;
    }
  }

  .cards {
    gap: 15px;
  }
}

@media (max-width: 425px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
